@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;700&display=swap')

$brand-color: #574AE8

$dark-10: #1A202C
$dark-20: #717171
$dark-30: #F3F5F7
$white: #FFFFFF

$message: #2962FF
$success: #0BB07B
$warning: #FFCE52
$error: #F03D3D
$information: #E0E0E0

body
    font-family: 'Lexend Deca', sans-serif
    background: $dark-30

header 
    background: linear-gradient(to right, $brand-color, #3EA1DB)
    height: 100%
    color: $white
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25)
    section
        display: flex
        flex-direction: column
        margin: 0 auto
        max-width: 900px
        padding: 1rem
        nav
            font-size: 24px
            display: flex
            width: 100%
            justify-content: space-between
            padding: 1rem 0 2rem 0
        .input-container
            position: relative
            display: flex
            width: 100%
            label
                position: absolute
                left: .5rem
                top: .8rem
            input
                display: flex
                width: 100%
                background: rgba(255, 255, 255, 0.20)
                opacity: 0.5
                padding: 1rem 1rem 1rem 3rem
                border-radius: 5px
                color: $white
                &::placeholder   
                    color: $white

main
    margin: 2rem auto
    max-width: 900px
    padding: 0 1rem
    .lists-posts
        display: flex
        flex-direction: column
        gap: 3rem

    .container-post
        box-shadow: 0px 0px 10px 0px rgba(19, 19, 31, 0.05)
        background: $white
        border-radius: 5px
        padding: 2rem
        .date
            color: $dark-20
            font-size: 16px
            margin-bottom: 1rem
        .title
        .description


